               <tr>
                <td></td>
                <td></td>                
                <td><%= "-- Task № #{t.id}: #{t.name}" %></td>
                <td><%= t.status %></td>
                <td></td> 
                <td></td> 
                <td></td>                                                 
                <td></td>                  
              </tr>  
